body{
    background: rgba(0, 0, 0, 0.685);
}

form{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: #fff;

}

.titulo{
    text-align: center;
    color: #fff;
    background-color: #49a07f;
    margin-bottom: 15px;
    padding: 01px;
    border-radius: 4px;
}
textarea{
    background-color: rgba(228, 222, 222, 0.568);
    margin: 5px;
    height: 80px;
    width: 80%;
    border-radius: 3px;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, 0.089);
}
.datos{
    background-color: rgba(228, 222, 222, 0.568);
    margin: 5px;
    height: 30px;
    width: 80%;
    border-radius: 3px;
    padding: 1%;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.btn{
    background-color: #49a07f;
    color: #fff;
    border-radius: 4px;;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 23%;

}
